
.form-control{
  width: 600px;
}

@media (max-width: 992px) {

  .container-fluid{
    display: flex;
    flex-direction: column;
    height: auto;

  }

    .navbar-brand {
      margin-right: auto; /* Adjust margin for smaller screens */
    }
    
    .SignInButton {
      margin-left: 0; /* Reset margin for smaller screens */
    }
  
    /* Adjust form input width */
    .searchMenu {
      margin: 20px 0;
      width: auto; /* Use auto width for responsiveness */
    }
  }
  
  @media (max-width: 576px) {

    nav{
      height: auto;
    }

    .form-control {
      width: 20em !important; 
      margin-bottom: 10px; /* Add some margin to separate form input from buttons */
    }
  
    .navbar-collapse {
      flex-direction: column; /* Stack nav items vertically */
    }
  
    .navbar-nav {
      flex-direction: column; /* Stack nav items vertically */
    }
  
  
    .SignButton {
      margin-bottom: 5px;
    }
  }